/* header{
    text-align: center;
}
.apo{
    text-align: center;

}
.con{
    text-align: right;

}

.nav-enlace {
    display: inline-flex;
    background-color:  black;
    color: rgb(255, 255, 255);
    padding: 10px 70px;
}

.nav-enlace:hover{
    background: rosybrown;
}


.apo{
  padding-left: 10%;
  padding-right: 10%;
}
.coment{
    padding-left: 5%;
}
p{
    text-align: center;
}
h3{
    text-align: left;
}

img{
    height: 5px;
    padding: 5px;
    width: 40px;
    margin-top: auto;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  } */

  div {
    text-align: left;
    font-size: 1em;
  }

  img {
    width: 5em;
  }

  .imagneProfile {
    width: 10em;
    padding-left: 25px;
    height: 130px;
  }

  h1 {

    padding-right: 2em;
    padding-top: 8px;

  }

  a {
    font-size: 20pt;
  }

  p {
    text-align: center;
  }

  .pio {
    padding-left: 2%;

  }

  .coment {
    padding-right: 0em;

    padding-left: 0px;
  }

  .jam {
    text-align: left;
    color: aqua;

  }

  header {}

  .inf {
    text-align: left;
    color: springgreen;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 96%;
    height: 20px;
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .apo {
    width: 40em;

  }


  li {
    padding-bottom: 2em;
  }
  .pie {
    position: absolute;
    bottom: 0;
    width: 96%;
    height: 20px;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  /* ser quienes*/
  .arti{
    padding-left: 3em;
  }
 .dos{
  
  width: 15em;
 }

  .largo{
    width: 35em;

  }
  

  .h1no {

    padding-right: 2em;
    padding-top: 8px;

  }
  td{
    padding-left: 2.5em;
    padding-top: 1em;
  }
  .h1dos{
    text-align: center;
  }
  .jamon {
    text-align: center;
  }
  .dinero{
    
    width: 35em;
  }

  .h1tres{
    padding-left: 15em;
  }
  .uno{
    width: 9em;
    padding-left: 2em;
  }
  .dos{
    width: 9em;
    padding-left: 2em;
  }
  .tres{
    width: 20em;
    padding-left: 2em;
    padding-top: 5em;
  }
  .mid{
    padding-top: 7em;
    padding-left: 3em;
  }
  .lef{
    padding-left: 2em;
  }
  .rig{
    padding-right: 2em;
  }
  .pep{
    text-align: center;
  }

  .artip{
    padding-left: 3em;
  }
 .dos{
  
  width: 15em;
 }
 
 
.lardo{
  width: 35em;

}